.baud-selector {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 20vw;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.baud-selector h5 {
  font-size: 14px;
  color: #333;
}

.baud-selector ul {
  list-style-type: none;
  padding: 0;
  max-height: 250px; /* Adjust max height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 0%;
}
.baud-selector li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 16px;
  color: #666;
}


.baud-selector li:hover {
  background-color: #DDD;
}