/* App.css (or wherever your main application CSS is located) */

.Uploader {
    background: #000000d4; /* Black with 83% opacity */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    box-sizing: border-box;
  }
  